@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-slate-950: #020617; 
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #0f172a;
    color: #f1f5f9;
}